.heading
{
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
  font-size: 20px;

}
.heading_div
{
  background: white ; 
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
  width: 40%;
  font-size: 15px;
}
.heading_div2
{
  font-size: 13px ;
}
.result_para_tag
{
  box-shadow:5px 5px 5px grey;
  font-size: 20px;
}
canvas{
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 8px 8px 8px black;
  margin-top: 140px;
  margin-bottom: 400px;


}
.copy_right_footer{
  background-color: grey;
  width: 100%;
  font-size: 15px;
  line-height: 1;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-top: 100px;
}

.object{
  white-space: pre-line;
}
